.nav__logo{
    width: 145px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.nav__web{
    color: #2196F3;
    }
.nav__studio{
    color: #000000;
    }